<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${(cocktailList.isFirst)?'disabled':''}">
        <a class="page-link" th:href="@{''(page=0, ctName=${session.ctName}, ctKindEng=${session.ctKindEng})}">First</a>
    </li>
    <li class="page-item" th:classappend="${(!cocktailList.hasPrevious)?'disabled':''}">
        <a class="page-link" th:href="@{''(page=${cocktailList.getNumber-1}, ctName=${session.ctName}, ctKindEng=${session.ctKindEng})}">Prev</a>
    </li>
    <li class="page-item" th:each="page:${#numbers.sequence(0, (cocktailList.totalPages)-1)}">
        <a 	class="page-link"
              th:if="${page >= cocktailList.number-2 and page <= cocktailList.number+2}"
              th:classappend="${(cocktailList.number==page)?'active':''}"
              th:href="@{''(page=${page}, ctName=${session.ctName}, ctKindEng=${session.ctKindEng})}"
              th:text="${page+1}"></a>
    </li>
    <li class="page-item" th:classappend="${(!cocktailList.hasNext)?'disabled':''}">
        <a class="page-link" th:href="@{''(page=${cocktailList.getNumber+1}, ctName=${session.ctName}, ctKindEng=${session.ctKindEng})}">Next</a>
    </li>
    <li class="page-item" th:classappend="${(cocktailList.isLast)?'disabled':''}">
        <a class="page-link" th:href="@{''(page=${cocktailList.totalPages-1}, ctName=${session.ctName}, ctKindEng=${session.ctKindEng})}">Last</a>
    </li>

</ul>
</html>