*{
padding: 0;
margin: auto;
}

.container {
width: 1100px;
margin: 0 auto;

}
#joinbox {
	line-height: 30px;
	font-size:20px;
}

#result{
	font-size:25px;
	
}
.h1d{
	margin-left:70px;
	font-size:40px;

}
.h2d {
	font-size:34px;
	font-weight:600;
}
.btn2{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.box1 {
	margin-top:40px;
	margin-bottom:40px;
}
.terms__check__all {
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f6f6;
	border-radius: 10px ;
	width:100%;
}
.lh-base {
	font-size: 22px;
	color:#3e3e3e;
	text-decoration: underline;
}

.joinp {
	font-weight: bold ;
	font-size: 20px;
	

}
.wel {
	font-weight: bold ;
	font-size: 40px;
	margin:20px;
	margin-bottom:30px;
}
.welp {
	font-size: 18px;
}

img {
  width: 350px;
  height: 350px;

}

hr.style-seven {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
margin-bottom:30px;

}


.button2 , .button3, .button4, .button5, .button6 {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 14px 70px;
  margin-bottom:50px;
  border-radius: 4px;
  margin-top:20px;
  text-decoration: none;
}

.button3{
	background-color: #cecece; /* Green */
	margin-right:30px;
}

.button4{
	background-color: #0000ff; /* Green */
}

.button5{
	background-color: #ffffff; /* Green */
	color: black; /* Green */
	border: 1px solid black;
	margin-right:10px;
}
.button5:hover {
	color:black;
}
.button6:hover {
	color:white;
}

.button6 {
	background-color: #0d6efd;
	border-color: #0d6efd;
	
   }  




.button2 {
	background-color: #0d6efd;
}
.button2:disabled {
	background-color:#84bbff;
	color:#ebebe9;
}
.button4:disabled{
	background-color: #bee1fe; /* Green */
}

