<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>COCKTAIL DETAIL</title>
    <link rel="stylesheet" href="/css/detail/detail.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="/header"></div>
<div class="container">
						
			<div class="content">
				<div class="ct_left_area">
					<div class="ImgBox">
						<!-- img -->
						<img class="cocimg" alt="" src="/img/cocktail12.png">
					</div>
					
					<!-- <div class="line">
					</div> -->
					
					<div class="TagBox">
						<p class="tags">
				        	<strong>계절 #</strong>
					    	<th:block th:text="${cocktail.ctSeason}"></th:block>
					    </p>
					    <p class="tags">
					        <strong>시간 #</strong>
					    	<th:block th:text="${cocktail.ctTime}"></th:block>
					    </p>
					    <p class="tags">
					        <strong>인증여부 #</strong>
					        <th:block th:text="${cocktail.ctCertified}"></th:block>
					    </p>
					</div>				
				</div>
				
				<div class="ct_right_area">
					<div class="TitleBox">
					    <p class="title">
					        <strong>no . </strong>
					        <span th:text="${cocktail.ctNo}"></span>
					    </p>
					    <p class="title">
					        <!-- <strong>이름 : </strong> -->
					        <th:block th:text="${cocktail.ctName}"></th:block>
					    </p>
					</div>
					
					<div class="line">
					</div>
					
					<div class="FlavorBox">
					    <p>
					        <strong>알콜도수 </strong>
					    	<th:block th:text="${cocktail.ctAlcohol}"></th:block>%
					    </p>
						<p>
					        <strong>종류 </strong>
					    	<th:block th:text="${cocktail.ctKind}"></th:block>
					    </p>
					</div>	
					
					<div class="line">
					</div>
					
					<div class=" IngredientBox">
						 <p><strong>재료</strong></p>
						 <p>
					        <!-- <strong>재료1 :</strong> -->
					        <th:block th:text="${cocktail.ingredient.ingName1}"></th:block>
					        <th:block th:text="${cocktail.ingredient.ingUnit1}"></th:block>
					    </p>
					    <p>
					        <!-- <strong>재료2 :</strong> -->
					        <th:block th:text="${cocktail.ingredient.ingName2}"></th:block>
					        <th:block th:text="${cocktail.ingredient.ingUnit2}"></th:block>
					    </p>
					    <p>
					        <!-- <strong>재료3 :</strong> -->
					    	<th:block th:text="${cocktail.ingredient.ingName3}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit3}"></th:block>
					    </p>
					    <p>
					        <!-- <strong>재료4 :</strong> -->
					    	<th:block th:text="${cocktail.ingredient.ingName4}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit4}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료5 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName5}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit5}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료6 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName6}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit6}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료7 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName7}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit7}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료8 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName8}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit8}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료9 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName9}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit9}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료10 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName10}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit10}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료11 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName11}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit11}"></th:block>
					    </p>
					    <p>
					<!--        <strong>재료12 :</strong>-->
					    	<th:block th:text="${cocktail.ingredient.ingName12}"></th:block>
					    	<th:block th:text="${cocktail.ingredient.ingUnit12}"></th:block>
					    </p>
					</div>
					
					<div class="line">
					</div>
				</div>
			</div>
						
	
</div>

</body>
</html> 