@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
	margin: 0;
	padding:0;
}

.content2{
		display: flex;
  		justify-content2 : center;
	    width: 100%;
	    height: 100vh;
	   	padding-top:100px;
	    /* border: 1px solid blue; */
	    /* font-size: 15px; */
	    font-family: 'Ubuntu', sans-serif;
 	}
	.content2:after {
	    content2: "";
	    clear: both;
	    display: table;
	}  
	  	
  	.ct_left_area{
		float: left;
	    width: 50%;
	    height: 855px;
	    border: 1px solid #c6c6cf;
	    margin-right: 50px;
  		background-color: black;
	    /* opacity:0.5; */
  		border-radius: 20px;
  		color: white;
  	}
  	
  		.ImgBox{
  			height: 80%;
  		}
  			.cocimg{
  				width: 100%;
  				height: 100%;
  				border-radius: 20px 20px 0 0;
  			}
  		.TagBox{
  			margin-top: 20px;
  			margin-left: 30px;
  			line-height: 40px;
  			font-size: 19px;
  		}
  		
  		
  	.line{
		    width: 100%;
		    border-top:1px solid #c6c6cf;  		
  		}
  		

  	.ct_right_area{
	    float: left;
	    width: 40%;
	    height: 855px;
	    /* border: 1px solid black; */
	    
	    /* background-color: black;
	    opacity:0.5;
  		border-radius: 20px;
  		color: white; */
	    
  	}
  		
  		.TitleBox{	
  			/* border: 1px solid black; */
  			padding: 20px 20px 20px 25px;
  			font-size: 33px;
  			font-weight: 600;			
  		}
  			
  		
  		.IngredientBox{
		    /* border: 1px solid blue; */
		    line-height: 35px; 
		    padding: 15px 20px 20px 25px;
		    font-size: 19px;
		    		
  		}
  		.FlavorBox{
		    /* border: 1px solid black; */
		    line-height: 35px;
		    padding: 15px 20px 20px 25px;
		    font-size: 19px;
  		}
