@charset "UTF-8";
nav {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

.logo, .gnb, .lnb{
    height: 90px;
    line-height: 90px;
}

.logo {
    float: left;
    width: 210px;
    font-size: 35px;
    text-align: center;
}

.gnb {
    width: 700px;
    display: inline-block;
    text-align: center;
}

.lnb {
    float: right;
    width: 423px;
    text-align: right;
}

.logo a {
    text-decoration: none;
    color: #222;
}

.gnb a {
    margin: 50px;
    text-decoration: none;
    color: #222;
}

.lnb a {
    margin-right: 70px;
    text-decoration: none;
    color: #222;
}