<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FOOTERNAV</title>
</head>
<style>
   .f_info{
      background: #f1f3f5;
      /* color: white; */
      padding: 10px;
      font-size: 15px;
   }
   .f_addr{
      width: 1100px;
      margin: 0 auto;
   }
   p {
      margin: 15px 0 15px 0;
   }
</style>
<body>
<footer>
   <div class="f_info">
      <div class="f_addr">
         <p style="font-size:20px;">COCKTAIL</p>
         <p>
            <span>Team. Dionysus</span>
         </p>
         <p>
            <span>FAX. 02-1234-5678</span> |
            <span>E-MAIL. cocktail@gmail.com</span>
         </p>
         <p>Copyright ⓒ 2022 Cocktail Recommendation. All Rights Reserved.</p>
      </div>
   </div>
</footer>
</body>
</html>