<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>headerNav</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/headerNav.css}">
</head>
<body>
   <nav>
      <div class="logo">
         <a href="/">cocktail</a>
      </div>
      <div class="gnb">
         <a href="">Search</a> <a href="">Recommendation</a> <a href="">Bar</a>
      </div>
      <div class="lnb">
            <a href="">로그인</a>
            <a href="">회원가입</a>
          
         <!-- <a href="">로그아웃</a> -->
      </div>
   </nav>
</body>
</html>