<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <th:block th:if="${session.loginUser==null}">
              <li><a class="ali" href="/signup/login.do">LOGIN</a></li>
          </th:block>

          <th:block th:unless="${session.loginUser==null}">
         	 <li id="likeli" style="max-width:10px;">
         	 
         	 <a id="like" href="/cocktail/cocktailLike.do" style="max-width:10px;   color:red;">LIKE</a></li>
              <li><a href="/signup/logout.do" style="max-width:80px;" >LOGOUT</a></li>
              <li><strong th:text="${session.cstId}"></strong></li>
          </th:block>

</body>
</html>