<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<main>
    <h1 >로그인</h1>
    <form action="/signup/login.do" method="post" >
        <div>
            <input name="cstId" value="cst1" type="text" id="inputUserId" placeholder="id 입력">
            <label for="inputUserId">ID</label>
        </div>
        <div class="form-floating mb-3">
            <input name="cstPw" value="1234" type="password" id="inputPw" placeholder="pw 입력">
            <label for="inputPw">Password</label>
        </div>
        <div >
            <div>
                <div>
                    <input type="checkbox" id="gridCheck1">
                    <label for="gridCheck1">
                        로그인 유지
                    </label>
                </div>
            </div>
        </div>
        <div>
            <button type="submit">로그인</button>
            <a>회원가입</a>
        </div>
    </form>
</main>
</body>
</html>