@charset "UTF-8";
table{
	margin: 30px;
	
}

tbody{
	display: grid;
    grid: '. . . .';
    /* gap: 30px; */
    row-gap: 30px;
    column-gap: 50px;
    margin: 30px;
}

.id{
	padding: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.tdimg{
	width: 130px;
  	height: 130px;
}
